<div class="container">

  <div class="d-flex justify-content-between mb-3">
    <form>
      <div class="d-flex justify-content-center gap-3">
        <div>
          <input type="text" class="form-control" (keyup)="filterCategory(search.value)" id="search" #search placeholder="Mot clé"/>
        </div>
        <div>
          <button type="button"  class="btn btn-primary" (click)="filterCategory(search.value)">Rechercher </button>
        </div>
      </div>
    </form>

    <button type="button" class="btn btn-success" [routerLink]="['/categories', 'add' ]"> Ajouter une nouvelle categorie </button>
  </div>

    <table class="table mt-3 table-hover">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th >Catégorie</th>
          <th >Nombre de produits</th>
          <th class="text-right">Modifier</th>
          <th class="text-right">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of filteredCategories?filteredCategories:categoriesToDisplay">
          <th class="text-center">{{ c.id }}</th>
          <td>{{c.name}}</td>
          <td>{{c.nbOfProduct}}</td>
          <td>
            <button type="button" rel="tooltip" [routerLink]="['/categories', 'edit', c.id]" class="btn btn-success">
              Modifier
              </button>
            </td>
              <td>
              <button type="button" rel="tooltip" (click)="deleteCategory(c.id)"  class="btn btn-danger">
                Supprimer
              </button>
          </td>
        </tr>
      </tbody>
    </table>
</div>
