<div class="container"> 

        <div class="d-flex justify-content-between mb-3">
          <form>
            <div class="d-flex justify-content-center gap-3">
              <div>
                <input type="text" class="form-control" (keyup)="filterProduct(search.value)" id="search" #search placeholder="Mot clé"/>
              </div>
              <div>
                <button type="button"  class="btn btn-primary" (click)="filterProduct(search.value)">Rechercher </button>
              </div>
            </div>
          </form>
      
          <button type="button" class="btn btn-success" [routerLink]="['/products', 'add' ]"> Ajouter un nouveau produit </button>
        </div>
      
    
    
    <table class="table mt-3 table-hover">
    <thead>
        <tr>
            <th >#</th>
            <th >Nom</th>
            <th >Description</th>
            <th >Taille</th>
            <th >Prix Unitaire</th>
            <th>Couleur</th>
            <th>Quantité</th>
            <th>Categories</th>
            <th>Images</th>
            <th>Modifier</th>
            <th>Supprimer</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let c of filteredProducts?filteredProducts:productToDisplay">
            <th >{{ c.id }}</th>
            <td>{{c.name}}</td>
            <td>{{c.description}}</td>
            <td>{{c.size}}</td>
            <td>{{c.unitPrice}}</td>
            <td>{{c.color}}</td>
            <td>{{c.quantity}}</td>
            <td>{{c.categoryName}}</td>
            <td>{{c.images.length}}</td>
            <td><button class="btn btn-success" [routerLink]="['/products', 'edit', c.id]">Modifier</button> </td>
            <td><button class="btn btn-danger" (click)="deleteProduct(c.id)" >Supprimer</button> </td>
        </tr>
    </tbody>
    </table>
</div>