<div class="container">

    <button class="btn btn-primary mb-5" [routerLink]="['/orders']"> Retour </button>
    
    <h3> Détails de la commande {{ order? order!.id : ""}} </h3>
    <table class="table mt-3 table-hover">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th>#Id Produit</th>
          <th>Quantité</th>
          <th>Prix Unitaire</th>            
          <th>Total (€)</th>            
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of orderItems">
          <td class="text-center">{{ item.id }}</td>
          <td>{{item.productId}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.unitPrice}}</td>
          <td>{{item.totalPrice.toFixed(2)}}</td>
        </tr>
        <tr>
          <th colspan="4">Total de la commande</th>
          <th>{{totalPrice? totalPrice.toFixed(2) : ""}}</th>
        </tr>
      </tbody>
    </table>

</div>
