a {
  text-decoration: none;
  color: inherit;
}


.nav-link:hover, .nav-link:active, .active {
  color: white ;
  background-color: gray !important ;
  border-radius: 8px ;
  font-weight:bold;
}



.full-screen {
  height:100vh;
}
