a {
  text-decoration: none;
  color: inherit;
}

.nav-link:hover, .nav-link:active {
  color: white ;
  background-color: gray ;
  border-radius: 8px ;
  font-weight:bold;
}

.full-screen {
  height:100vh;
}
